@model Book
@{
    ViewData["Title"] = "Book Details";
}



<div class="container mt-4">
    <div class="row">
        <div class="col-md-4">
            @if (string.IsNullOrEmpty(Model.Image))
            {
                <img src="/images/Untitled.png" class="img-fluid" width="240px" height="260px" alt="@Model.BookName">
            }
            else
            {
                <img src="/images/@Model.Image" class="img-fluid" width="240px" height="260px" alt="@Model.BookName">
            }
        </div>
        <div class="col-md-8">
            <h2 class="mb-3">@Model.BookName</h2>
            <div class="book-details">
                <p><strong>Author:</strong> @Model.AuthorName</p>
                <p><strong>Genre:</strong> @Model.GenreName</p>
                <p><strong>Condition:</strong> @Model.BookCondition</p>
                <p><strong>Price:</strong> LKR @Model.Price</p>

                @if (Model.Quantity > 0)
                {
                    <span class="badge bg-success">In Stock</span><br />
                    <button type="button" onclick="add(@Model.Id)" class="btn btn-primary mt-2">Add to Cart</button>
                }
                else
                {
                    <span class="badge bg-danger">Out of Stock</span>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        async function add(bookId) {
            var usernameEl = document.getElementById("username");
            if (usernameEl == null) {
                window.location.href = "/Identity/Account/Login";
            }
            try {
                var response = await fetch(`/Cart/AddItem?bookId=${bookId}`);
                if (response.status == 200) {
                    var result = await response.json();
                    var cartCountEl = document.getElementById("cartCount");
                    cartCountEl.innerHTML = result;
                    window.location.href = "#cartCount";
                }
            }
            catch (err) {
                console.log(err);
            }
        }
    </script>
}